.animatedBorderCard {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  border-radius: 12px;
  overflow: hidden;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.animatedBorderCard::before {
  content: "";
  position: absolute;
  width: 150%;
  height: 150%;
  background: conic-gradient(transparent, transparent, transparent, #22d3ee);
  animation: rotate-single 4s linear infinite;
  z-index: -2;
}

.animatedBorderCard::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #0f172a;
  border-radius: 10px;
  z-index: -1;
}

@keyframes rotate-single {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
